@media (prefers-color-scheme: dark) {
  :root {
    --color: rgb(200, 200, 200);
    --background-color: rgb(36, 36, 36);
  }
  body {
    background-color: var(--background-color);
  }

  li,
  a:link,
  a:visited,
  a:active,
  h1,
  h2,
  h3,
  h4,
  td,
  tr,
  th,
  p {
    color: var(--color);
  }

  a:hover {
    color: rgb(255, 255, 255);
  }

  th {
    border-bottom: 3px solid var(--color);
  }
}