  body {
    background-color: rgb(36, 36, 36);
  }

  li,
  a:link,
  a:visited,
  a:active,
  h1,
  h2,
  h3,
  h4,
  td,
  tr,
  th,
  p {
    color: rgb(200, 200, 200);
  }

  a:hover {
    color: rgb(255, 255, 255);
    
  }

  a.header:hover {
    background-color: #3c4249;
  }

  th {
    border-bottom: 3px solid rgb(200, 200, 200);
  }
